---
export interface Props {
  title: string;
  company: string;
  period: string;
  location: string;
  achievements: string[];
  technologies: string;
}

const { title, company, period, location, achievements, technologies } = Astro.props;
---

<div class="p-4 bg-neutral-50 rounded-2xl border border-neutral-200 mx-14">
  <h3 class="text-xl font-semibold text-neutral-900">{title}</h3>
  <p class="text-sm text-neutral-600">{company}, {period}, {location}</p>
  <ul class="list-disc list-inside text-sm text-neutral-700 mt-2 space-y-1">
    {achievements.map(achievement => (
      <li>{achievement}</li>
    ))}
  </ul>
  <p class="text-xs text-neutral-500 mt-2">
    {technologies}
  </p>
</div>
